<h2>Customers</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Customer</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="Customers/Details/1">John Smith</a>
            </li>
            <li class="list-group-item">
                <a href="Customers/Details/2">Mary Williams</a>
            </li>
        </ul>
    </div>
</div>